<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments.html :: myHeader"></head>

    <body>

    <header th:insert="fragments.html :: menu"></header>

        <div class="container m-auto breadcrumb">
            <h1>Hello</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi ducimus officiis quod!
                Ab, amet deleniti earum eum excepturi harum incidunt minus nam
                nisi nostrum quo sint, sit unde velit!</p>
        </div>

    </body>
</html>